@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-outfit: "Outfit", sans-serif;


  /* Primary Colors */
  --color-primary: #D73B0B;
  /* main brand */
  --color-primary-dark: #A82E08;
  /* hover */
  --color-primary-light: #F26A3D;
  /* light shade */

  /* Secondary Colors (balanced contrast) */
  --color-secondary: #1F2937;
  /* dark gray (modern UI) */
  --color-secondary-light: #4B5563;

  /* Accent Colors */
  --color-accent: #F59E0B;
  /* warm highlight (offers) */
  --color-success: #22C55E;
  /* success */
  --color-danger: #EF4444;

  /* Background Colors */
  --color-bg-main: #FFFFFF;
  --color-bg-light: #FFF4F1;
  /* very light orange tint */
  --color-bg-dark: #111827;

  /* Text Colors */
  --color-text-primary: #1F2937;
  --color-text-secondary: #6B7280;
  --color-text-light: #FFFFFF;

  /* Borders & Cards */
  --color-border: #E5E7EB;
  --color-card: #FFFFFF;

  /* Gradient */
  --color-gradient-start: #D73B0B;
  --color-gradient-end: #F26A3D;
}

html,
body {
  font-family: 'Outfit', sans-serif;
  scroll-behavior: smooth;
}

@layer utilities {
  .animate-scroll {
    animation: scroll 30s linear infinite;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}